:root {
--Red: hsl(0, 78%, 62%)
--Cyan: hsl(180, 62%, 55%)
--Orange: hsl(34, 97%, 64%)
--Blue: hsl(212, 86%, 64%)
--Very-Dark-Blue: hsl(234, 12%, 34%)
--Grayish-Blue: hsl(229, 6%, 66%)
--Very-Light-Gray: hsl(0, 0%, 98%)
}

body {
  font-family: "Poppins";
  background: hsl(0, 0%, 98%);
  font-size: 15px;
  padding: 90px 163px;
  margin: 0px;
  box-sizing: border-box;
  
}

.description {
  display: block;
  text-align: center;
  font-size: 28px;
}

.subtitle {
  font-size: 28px;
  font-weight: 400;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.text {
  font-size: 15px;
  font-weight: 200;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}

.cards-supervisor {
  border-style: inset;
  border-width: thin;
  border-top-color: hsl(180, 62%, 55%);
  margin: 26px;
  width: 354px;
  height: 251px;
}

.cards-supervisor image {
  text-align: right;
}

.cards-teambuilder {
  border-style: inset;
  border-width: thin;
  
  border-top: 4px solid hsl(0, 78%, 62%);
  margin: 26px;
  width: 354px;
  height: 251px;
  border-radius: 8px;
}

.cards-karma {
  border-style: inset;
  border-width: thin;
  border-top-color: hsl(34, 97%, 64%);
  margin: 26px;
  width: 354px;
  height: 251px;
}

.cards-calculator {
  border-style: inset;
  border-width: thin;
  border-top-color: hsl(212, 86%, 64%);
  margin: 26px;
  width: 354px;
  height: 251px;
}

.image {
  align-items: ;
}

.excerpt {
  font-size: 12px;
}